.projects-wrapper {
  text-align: center;
  color: #333333;
}
.projects-container {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #333;
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
  justify-content: space-between;
  gap: 2rem;
}
