.projects-wrapper {
  text-align: center;
  color: #333333;
}
.projects-container {
  padding: 3rem;
  justify-content: space-between;
  gap: 2rem;
  @media screen and (max-width: 900px) {
    padding: 0;
  }
}
