.techonologies-wrapper {
  text-align: center;
  color: #333333;
}

.technologies-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100vh;
  width: 70%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 3rem 3rem;
  .selector-container {
    display: flex;
    justify-content: space-between;
    .selector-btn {
      color: #333333;
      text-transform: uppercase;
      text-indent: 0.1em;
      font-size: 1.4em;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      transition: 0.4s ease-in-out;
      &.active {
        color: rgb(53, 140, 214);
        text-decoration: underline;
        text-underline-offset: 1.4rem;
      }
    }
  }
}
.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #333333;
  gap: 1rem;
  .item-container {
    width: 8%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    color: #333333;
    .item-logo {
      width: 100%;
    }
  }
}

hr {
  width: 100%;
  background-color: rgb(53, 140, 214);
  height: 2px;
  border: none;
}
