li {
  font-size: 1.2em;
  letter-spacing: 0.06em;
  font-weight: 600;
  position: relative;
  padding: 1.6rem;
  a.active {
    color: rgb(53, 140, 214);
  }
  a:hover {
    transition: 0.3s ease-in-out;
    color: rgb(53, 140, 214);
  }
  span {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
