.project-card-container {
  display: flex;
  padding: 3rem;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  .image-container {
    width: 50%;
    .demo-btn-group {
      padding: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 900px) {
        flex-direction: column;
        gap: 1rem;
        &.demo-btn {
          width: 50%;
        }
      }
      .demo-btn {
        padding: 0.8rem 1.2rem;
        font-size: 0.9em;
        color: #efefef;
        border-radius: 8px;
        overflow: hidden;
        &.code {
          background-color: rgb(74, 131, 150);
        }
        &.live {
          background-color: lightcoral;
        }
      }
    }
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .info-container {
    width: 45%;
    max-height: 400px;
    h1,
    h2,
    h3,
    p {
      color: #efefef;
    }
    padding: 3rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 900px) {
  .project-card-container {
    flex-direction: column;
    padding: 0;
    gap: 2rem;
    .image-container {
      width: 100%;
    }
    .info-container {
      width: 100%;
    }
  }
}
