section {
  margin-bottom: 4rem;
  margin: 0 auto;
  &.header {
    width: 100%;
  }
  &.about {
    width: 60%;
    @media screen and (max-width: 900px) {
      width: 90%;
    }
  }
  &.technologies {
    width: 70%;
    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }
  &.projects {
    width: 80%;
    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }
}
.section-seaprator {
  width: 60%;
  background-color: rgb(53, 140, 214);
  height: 3px;
  margin-bottom: 5rem;
}
