section {
  margin-bottom: 4rem;
  margin: 0 auto;
  &.header {
    width: 100%;
  }
  &.about {
    width: 75%;
    @media screen and (max-width: 900px) {
      width: 95%;
    }
  }
  &.technologies {
    width: 70%;
    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }
  &.projects {
    width: 80%;
    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }
  &.contacts {
    width: 100%;
  }
}
.section-seaprator {
  padding-bottom: 5rem;
  padding-top: 5rem;
  hr {
    width: 60%;
    background-color: rgb(53, 140, 214);
    height: 3px;
  }
}
.empty-space {
  height: 200px;
}
